# STUNIR Build Artifacts
local_toolchain.lock.json
receipts/
asm/
build/
dist-newstyle/
target/

# Compliance Artifacts
stunir_omnibus_sbom.*.json

# Python
__pycache__/
*.pyc

# System
.DS_Store
tools/spark/bin/
tools/spark/obj/
targets/spark/bin/
targets/spark/obj/
